* {
	font-family: monospace;
	font-size: 14px;	
}

html {
	margin: 0px;
	padding: 0px;
}

body {
	padding: 0px;
	margin: 0px;
	background-color: #FFFFFF;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#intro {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 50%;
	color: #093C83;
	font-size: 30px;
}

#container {
	overflow: hidden;
	display: table;
	width: 100%;
}

#addr {
	display: table-cell;
}

#hex {
	display: table-cell;
}

#ascii {
	display: table-cell;
}

.row:nth-child(even) {
	background-color: #F1F1F1;
}

.addr {
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
}

.byte {
	display: inline;
	padding-left: 2px;
	padding-right: 2px;
	color: #093C83;
}

.gap {
	padding-right: 10px;
	display: inline;
}

.ascii {
	display: inline;
	color: #000000;
}
